<% if (success && success.length > 0) { %>
<div class="alert alert-success top-right-corner">
  <p><%= success %></p>
</div>
<% } %> <% if (error && error.length > 0) { %>
<div class="alert alert-error top-right-corner">
  <p><%= error %></p>
</div>
<% } %>
