<div class="server-popup">
  <div class="server-popup__header">
    <h2>Create a Channel</h2>
  </div>
  <div class="input-server">
    <div class="upload-server__name">
      <label> Enter Channel Name </label>
      <input
        type="text"
        placeholder="Enter a server name"
        class="input-server__name"
      />
    </div>
  </div>
  <div class="btn-create">
    <div>
      <button class="create-server__button back">Back</button>
    </div>
    <div>
      <button class="create-server__button create_channel">Create</button>
    </div>
  </div>
</div>
