<div class="server-popup">
  <div class="server-popup__header">
    <h2>Create a Server</h2>
    <p>
      Your server is where you and your friends hang out. Make yours and start
      talking.
    </p>
  </div>
  <div class="input-server">
    <div class="upload-server__logo">
      <!-- <input type="file" accept="image/*" id="imageupload" />
      <label for="imageupload" class="input-server__label">
        <img
          src="/images/serverupload.png"
          id="imageUploadedByUser"
          alt="uploadlogo"
        />
      </label> -->
      <!-- <span>Upload Server Image</span> -->
      <div class="upload-server__url">
        <label>Enter URL</label>
        <input
          type="text"
          placeholder="Enter Image url"
          class="input-server__url"
        />
      </div>
    </div>
    <div class="upload-server__name">
      <label> Server Name </label>
      <input
        type="text"
        placeholder="Enter a server name"
        class="input-server__name"
      />
    </div>
  </div>
  <div class="btn-create">
    <div>
      <button class="create-server__button back">Back</button>
    </div>
    <div>
      <button class="create-server__button create">Create</button>
    </div>
  </div>
</div>
