<main class="channel_textarea">
  <div class="channel_channel-title">
    <div>
      <p>#ABCD</p>
    </div>
    <div>
      <i class="fa-solid fa-users icon-members"></i>
    </div>
  </div>
  <div class="channel_textarea-wrapper">
    <textarea
      name="messagearea"
      id="msgarea"
      placeholder="Enter Your Message Here"
    ></textarea>
  </div>
  <div class="channel_msg-wrapper">
    <!-- <div class="channel_msg-content">
      <div class="channel_userInfo">
        <img src="<%= user.image %>" alt="profileimage" />
        <div class="channel_info">
          <span class="channel_nameUser"><%= user.username %></span>
          <span class="channel_timeofmsg">today at 4:48pm</span>
        </div>
      </div>
      <div class="channel_actualmsg">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quod voluptates voluptatem consequuntur
          quos voluptate quas quibusdam, quia, quod voluptates voluptatem
          consequuntur quos voluptate quas
        </p>
      </div>
    </div> -->
  </div>
</main>
