* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* background-image: url("leftImage.svg"); */
  background-color: #1b1f24;

  position: relative;
}
form {
  padding: 32px 32px;
  background-color: #24292f;
}
h2,
p {
  color: white;
  /* background: -webkit-linear-gradient(300deg, #d397fa 30%, #8364e8 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone; */
}
h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 8px;
}
p {
  text-align: center;
}
p:first-child {
  line-height: 20px;
  font-weight: 600;
}
.login {
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
}
input {
  width: 100%;
  padding: 10px;
}

/* input:not(:last-child) {
  margin-bottom: 10px;
} */
label {
  font-size: 14px;
  text-align: left;
  color: #c4c4c4;
  font-weight: 600;
}
.forgot {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}
p:last-child {
  margin-top: 4px;
  font-size: 14px;
  text-align: left;
}
.first-input {
  margin-bottom: 10px;
}
button {
  background-color: #373e47;
  color: white;
  border: 4px solid #373e47;
  border-radius: 5px;
  padding: 3px 10px;
}
button:hover,
button:active {
  background-color: #58637125;
  /* remove the border */
  border: 4px solid #58637125;
  cursor: pointer;
}
.inputbtn {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  outline: 0;
  background-color: black;
  color: white;
}
input:focus {
  border-bottom-width: 2px;
}
.emailbtn {
  margin-bottom: 10px;
}
.btn {
  margin-top: 10px;
  width: 100%;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
  /* color: #c4c4c4; */
}
.blue-text a {
  color: rgba(63, 63, 255, 0.768);
}
body {
  overflow-y: hidden;
}
